body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-weight: 300;
  font-size: 14px;
  
  }
.top-header .right-header ul.social-icons, .main-header .menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.top-header {
background:  #A8CF60; /* Old browsers */

  color: #f6faeb;
  padding: 10px 0;
}
.top-header .left-header span {
  display: inline-block;
  margin: 8px 30px 0 0;
}
.top-header .left-header span i {
  margin-right: 10px;
}
.top-header .right-header ul.social-icons li {
  display: inline-block;
}
.top-header .right-header ul.social-icons li a {
  color: white;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 30px;
  border: 1px solid white;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  margin: 0 5px;
  text-decoration:none;
}
.fteamviewer {
	padding: 6px 5px 9px 5px;
}
.top-header .right-header ul.social-icons li a:hover {
  background-color: #fff;
  color: #333;
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
}
.fa-bars {
	font-size: 24px;
	color: #A8CF38;
}
button,
button:active,
button:focus, 
button:hover,
.btn,
.btn:active, 
.btn:focus, 
.btn:hover{   
    outline:none !important;
}
.main-header {
  position: fixed;
  width: 100%;
  z-index: 9999;
  min-height: 60px !important;
  /*padding: 20px 0;*/
  background: #2F2F2F;

  -webkit-box-shadow: 0 2px 4px rgba(1, 1, 1, 0.15) ;
  -moz-box-shadow: 0 2px 4px rgba(1, 1, 1, 0.15) ;
  box-shadow: 0 2px 4px rgba(1, 1, 1, 0.15) ;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.main-header-shrink {
  padding: 1px 0;
  top: 0px;
  background: rgba(0,0,0,.7);
  position:fixed;
  width:100%
}
.left-header span i.fa-phone, .left-header span i.fa-envelope {
	color: #fff;
}
.nav .open a {
	background: #fff!important;
	color: #000!important;
}
.navbar-inverse .navbar-nav > li > a {
	color: #fff;
	font-size: 1.3em;
}
.navbar-default .navbar-nav > li > a:hover{
	background-color: #fff;
}
.navbar-brand {
	padding-top: 15px;
	float: left;
    font-size: 18px;
    line-height: 25px; 
    height: 60px;
	display: inline-block;
	z-index: 1000;
}
.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 13px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 16.5px;
    padding-bottom: 16.5px;
    line-height: 27px;
  }
}
.dropdown-menu {
	width: 100%
}
.mega-dropdown {
  position: static!important;
}
.mega-dropdown-menu {
    padding: 120px 120px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
	background-color: #fff;
	-webkit-box-shadow: 0px 11px 12px -10px rgba(0,0,0,0.27);
    -moz-box-shadow: 0px 11px 12px -10px rgba(0,0,0,0.27);
     box-shadow: 0px 11px 12px -10px rgba(0,0,0,0.27);
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #000;
  padding: 3px 5px;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
}
.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #39c3f2;
  padding: 5px 60px 5px 5px;
  line-height: 30px;
}
.carousel-control {
  width: 30px;
  height: 30px;
  top: 100px;
  text-shadow: none;
  opacity: 100;
}
.left.carousel-control {
  margin-left: -75px;
  
}
.right.carousel-control{
  margin-right: -75px;
 
}
.fa-angle-left:before {
  font-size: 2em;
  color: #39c3f2;
  padding: 5px 10px 5px 20px;
}
.fa-angle-right:before {
  font-size: 2em;
  color: #39c3f2;
  padding: 5px 20px 5px 10px;
}
.fa-angle-left:hover {
  /*background-color:#2d9cc1;*/
  color: #000;
}

.carousel-indicators li {
    text-indent:0;
    border-radius: 0;
	margin: 0;
	border: none;
	border-right: 1px solid #e8e8e8;
}

ol.carousel-indicators {
	font-size: 0;
	top:-100px;
	width: 100%;
	margin-left: -50%;
}
ol.carousel-indicators li{
	font-size: 18px; 
	font-weight: 400;
	color: #39c3f2;
}

.carousel-indicators li:first-of-type {
	border-left: 1px solid #e8e8e8;
}
.carousel-indicators > li,
.carousel-indicators > li.active {
    width: 130px;
    height: 20px;
    border-radius: 0;
	position:relative;
    text-indent: 0;
	background-color: transparent;
}
.carousel-indicators > li.active {	
	color: #000;

	
}
.carousel-indicators > li.active:before {
  /*content: '';
  position: absolute;
  border-color: #39c3f2;
  border-style: solid;
  border-width: 0 130px 0 0;
  height: 2px;
  bottom: -17px;
  left: 0;
  right: 0;
  margin-top: -1em;
  /*transform: rotate(180deg);*/
  /*width: 0em;*/
  
}

.carousel-inner {
   margin-top:10px;
}

.carousel-indicators > li {
  -webkit-transform: translateZ(0);
  /*-webkit-transform: rotateZ(360deg);*/
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  
}
.carousel-indicators > li::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: -17px;
  background: #39c3f2;
  height: 2px;
  -webkit-transition-property: left right;
  transition-property: left right;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.carousel-indicators > li:hover:before {
  left: 0;
  right: 0;
} 

.arrow {
  transition: transform .25s;
}

.arrow:hover {
  transform: rotate(180deg);
}

/* flexslider*/
.flexslider {
  margin-top: 0px;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  overflow: hidden;
}

.flex-direction-nav a {
  color: #444444;
  width: 40px;
  height: 40px;
  background-color: white;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: -20px 0 0 0;
  text-align: center;
  line-height: 40px;
}

.flex-caption {
  position: absolute;
  top: 39%;
  width: 100%;
  text-align: center;
  z-index: 999;
  color: white;
}
.flex-caption h2 {
  font-size: 4em;
  font-weight: 200;
  color: #fff;
  margin-bottom: 45px;
}
.flex-caption p {
  font-size: 2.8em;
  color: #fff;
  font-weight: 200;
}
.flex-caption span {
  background: url(../images/slider-dec.png) no-repeat;
  width: 60px;
  height: 9px;
  display: block;
  margin: 30px auto;
}
                    
.jumbotron {
	padding: 0;
	margin-bottom:0px;
	background: #fff;
}
.jumbotron h1 {
	font-weight: 300;
	font-size: 25px;
	font-family: 'Roboto', sans-serif;
}	
		  /*Icons*/
@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot');
	src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Windows Chrome ugly fix http://stackoverflow.com/questions/13674808/chrome-svg-font-rendering-breaks-layout/14345363#14345363 */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: 'icomoon';
		src: url('../fonts/icomoon.svg#icomoon') format('svg');
	};
}

.icon-gov, .icon-study, .icon-citycenter, .icon-bell, .icon-hosp {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-citycenter:before {
	content: "\e90f";
}

.icon-hosp:before {
	content: "\e913";
}

.icon-study:before {
	content: "\e911";
}

.icon-gov:before {
	content: "\e908";
}

.icon-bell:before {
	content: "\e951";
}

a, li {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* Global CSS that are applied for all screen sizes */

.navb ul {
	/*max-width: 1240px;*/
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 1.7em;
	font-weight: 300;
}

.navb li span {
	display: block;
}

.navb a {
	display: block;
	color: #fff;
	text-decoration: none;
	-webkit-transition: color .5s, background .5s, height .5s;
	-moz-transition: color .5s, background .5s, height .5s;
	-o-transition: color .5s, background .5s, height .5s;
	-ms-transition: color .5s, background .5s, height .5s;
	transition: color .5s, background .5s, height .5s;
}

.navb i{
	/* Make the font smoother for Chrome */
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

/* Remove the blue Webkit background when element is tapped */

a, button {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* Hover effect for the whole navigation to make the hovered item stand out */

/*.no-touch */ .navb ul:hover a {
	/*color: rgba(249, 249, 249, .5);*/
	color:#fff;
}

/*.no-touch */.navb ul:hover a:hover {
	/*color: rgba(249, 249, 249, 0.99);*/
	color: #fff;
	
}
.navb li:hover{
	background: #444;
	
}
/* Adding background color to the menu items */
.navb li {
	background: #303030;
	border-right: 1px solid #666;
	position:relative;
}
/* For screen bigger than 800px */
@media (min-width: 50em) {

	/* Transforms the list into a horizontal navigation */
	.navb li {
		float: left;
		/*width: 16.66666666666667%;*/
		width:20%;
		text-align: center;
		-webkit-transition: border .5s;
		-moz-transition: border .5s;
		-o-transition: border .5s;
		-ms-transition: border .5s;
		transition: border .5s;
		border-bottom: 1px solid #f5f5f5;
		-webkit-box-shadow: 0 2px 4px rgba(1, 1, 1, 0.15) ;
        -moz-box-shadow: 0 2px 4px rgba(1, 1, 1, 0.15) ;
         box-shadow: 0 2px 4px rgba(1, 1, 1, 0.15) ;
	}

	.navb a {
		display: block;
		width: auto;
	}

	/* Placing the icon */
	
	.icon {
		padding-top: 1.2em;
	}

	.icon + span {
		margin-top: 1.1em;
		-webkit-transition: margin .5s;
		-moz-transition: margin .5s;
		-o-transition: margin .5s;
		-ms-transition: margin .5s;
		transition: margin .5s;
		margin-bottom: 1em;
		font-size:0.8em;
	}

	/* Positioning the icons and preparing for the animation*/
	.navb i {
		position: relative;
		display: inline-block;
		margin: 0 auto;
		padding: 0.6em;
		border-radius: 50%;
		font-size: 1.4em;
		box-shadow: 0 0 0 30px transparent;
		background: rgba(255,255,255,0.1);
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		-webkit-transition: box-shadow .6s ease-in-out;
		-moz-transition: box-shadow .6s ease-in-out;
		-o-transition: box-shadow .6s ease-in-out;
		-ms-transition: box-shadow .6s ease-in-out;
		transition: box-shadow .6s ease-in-out;
	}	
	
	/* Animate the box-shadow to create the effect */
	/*.no-touch*/ .navb a:hover i,
	/*.no-touch*/ .navb a:active i,
	/*.no-touch */.navb a:focus i {		
		box-shadow: 0 0 0 0 rgba(255,255,255,0.2);
		-webkit-transition: box-shadow .4s ease-in-out;
		-moz-transition: box-shadow .4s ease-in-out;
		-o-transition: box-shadow .4s ease-in-out;
		-ms-transition: box-shadow .4s ease-in-out;
		transition: box-shadow .4s ease-in-out;
	}
		
}

@media (min-width: 50em) and (max-width: 61.250em) {

	/* Size and font adjustments to make it fit into the screen*/
	.navb ul {
		font-size: 1.2em;
	}

}

/* The "tablet" and "mobile" version */

@media (max-width: 49.938em) {		
	
	/* Instead of adding a border, we transition the background color */
	.no-touch .navb ul li a:hover,
	.no-touch .navb ul li a:active,
	.no-touch .navb ul li a:focus {
		background: rgb(227, 119, 20);
	}
	.navb ul li {
		-webkit-transition: background 0.5s;
		-moz-transition: background 0.5s;
		-o-transition: background 0.5s;
		-ms-transition: background 0.5s;
		transition: background 0.5s;
	}	

}

/* CSS specific to the 2x3 columns version */
@media (min-width:32.5em) and (max-width: 49.938em) {
	
	/* Creating the 2 column layout using floating elements once again */
	.navb li {
		display: block;
		float: left;
		width: 50%;
	}
	
	/* Adding some padding to make the elements look nicer*/
	.navb a {
		padding: 0.8em;		
	}

	/* Displaying the icons on the left, and the text on the right side using inline-block*/
	.navb li span, 
	.navb li span.icon {
		display: inline-block;
	}

	.navb li span.icon {
		width: 50%;
	}

	.navb li .icon + span {
		font-size: 1em;
	}

	.icon + span {
		position: relative;
		top: -0.2em;
	}

	/* Adaptating to the icons to animate the size and border of the rounded background in a more discreet way */
	.navb li i {
		display: inline-block;
		padding: 8% 9%;
		border: 4px solid transparent;
		border-radius: 50%;
		font-size: 1.5em;
		background: rgba(255,255,255,0.1);
		-webkit-transition: border .5s;
		-moz-transition: border .5s;
		-o-transition: border .5s;
		-ms-transition: border .5s;
		transition: border .5s;
	}

	/* Transition effect on the border color */
	.no-touch .navb li:hover i,
	.no-touch .navb li:active i,
	.no-touch .navb li:focus i {
		border: 4px solid rgba(255,255,255,0.1);
	}
	
}

/* Adapting the font size and width for smaller screns*/
@media (min-width: 32.5em) and (max-width: 38.688em) {
	
	.navb li span.icon {
		width: 50%;
	}

	.navb li .icon + span {
		font-size: 0.9em;
	}
}

/* Styling the toggle menu link and hiding it */
.navb .navtoogle{
	display: none;	
	width: 100%;
	padding: 0.5em 0.5em 0.8em;
	font-family: 'Lato',Calibri,Arial,sans-serif;
	font-weight: normal;
	text-align: left;
	color: rgb(7, 16, 15);
	font-size: 1.2em;
	background: none;	
	border: none;
	border-bottom: 4px solid rgb(221, 221, 221);
	cursor: pointer;
}

.navtoogle i{
	z-index:-1;
}

.icon-menu {
	position: relative;
	top: 3px;
	line-height: 0;
	font-size: 1.6em;
}

@media (max-width: 32.438em) {

	/* Unhiding the styled menu link */
	.navb .navtoogle{
		margin: 0;
		display: block;
	}
	
	/* Animating the height of the navigation when the button is clicked */
	
	/* When JavaScript is disabled, we hide the menu */
	.no-js .navb ul {
		max-height: 30em;
		overflow: hidden;
	}
	
	/* When JavaScript is enabled, we hide the menu */
	.js .navb ul {
		max-height: 0em;
		overflow: hidden;
	}
	
	/* Displaying the menu when the user has clicked on the button*/
	.js .navb .active + ul {		
		max-height: 30em;
		overflow: hidden;
		-webkit-transition: max-height .4s;
		-moz-transition: max-height .4s;
		-o-transition: max-height .4s;
		-ms-transition: max-height .4s;
		transition: max-height .4s;
	}

	/* Adapting the layout of the menu for smaller screens : icon on the left and text on the right*/
	
	.navb li span {
		display: inline-block;
		height: 100%;
	}

	.navb a {
		padding: 0.5em;		
	}
	
	.iconb + span {
		margin-left: 1em;
		font-size: 0.8em;
	}
	
	/* Adding a left border of 8 px for each menu item*/
	.navb li {
		border-left: 8px solid rgb(174, 78, 1);
	}

	/* make the nav bigger on touch screens */
	.touch .navb a {
		padding: 0.8em;
	}
}
ul#og-grid {
	list-style: none;
	width: 100%;
}
ul#og-grid li {
	display: inline-block;
}
div.exp {
	/*display:inline-block;*/
	position:absolute;
	width:100%; 
	overflow:hidden;
	height:0px;
	bottom: 0px;
	display:none;
	top:0px;
	z-index: 999;
	background:#fff;
	
	
}
div.exp a:first-child {
	margin-top: 8px;
	
}
ul.og-grid li div.exp a {
	padding-bottom: 2px;
	font-weight: 300;
	color: #2f2f2f;
	font-size: 0.9em;
	
}
ul.og-grid li div.exp a:hover {
	background: #39c3f2;
}

        /* Black buttons GRID STYLE*/
/*		
.og-grid {
	list-style: none;
	 // padding: 20px 0; 
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

.og-grid li {
	display: inline-block;
	margin: 10px 5px 0 5px;
	vertical-align: top;
	height: 250px;
	background: green;
}

.og-grid li > a,
.og-grid li > a img {
	border: none;
	outline: none;
	display: block;
	position: relative;
}
*/

.og-grid li.og-expanded > a::after {
	top: auto;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #ddd;
	border-width: 15px;
	left: 50%;
	margin: -20px 0 0 -15px;
}

.og-expander {
	/*position: absolute;*/
	background: #ddd;
	top: auto;
	left: 0;
	width: 100%;
	margin-top: 10px;
	text-align: left;
	/*height: 400px;*/
	height: 0;
	overflow: hidden;
	
}

.og-expander-inner {
	position: absolute;
	padding: 50px 30px;
	height: 100%;
	width:100%;
}

.og-close {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.og-close::before,
.og-close::after {
	content: '';
	position: absolute;
	width: 100%;
	top: 50%;
	height: 1px;
	background: #888;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.og-close::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.og-close:hover::before,
.og-close:hover::after {
	background: #333;
}

.og-fullimg,
.og-details {
	width: 50%;
	float: left;
	height: 100%;
	overflow: hidden;
	position: relative;
	/*background: green;*/
}

.og-details {
	padding: 0 40px 0 20px;
}

.og-fullimg {
	text-align: center;
}

.og-fullimg img {
	display: inline-block;
	max-height: 100%;
	max-width: 100%;
}

.og-details h3 {
	font-weight: 300;
	font-size: 52px;
	padding: 40px 0 10px;
	margin-bottom: 10px;
}

.og-details p {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #999;
}

.og-details a {
	font-weight: 700;
	font-size: 16px;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 10px 20px;
	border: 3px solid #333;
	display: inline-block;
	margin: 30px 0 0;
	outline: none;
}

.og-details a::before {
	content: '\2192';
	display: inline-block;
	margin-right: 10px;
}

.og-details a:hover {
	border-color: #999;
	color: #999;
}

.og-loading {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ddd;
	box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	-webkit-animation: loader 0.5s infinite ease-in-out both;
	-moz-animation: loader 0.5s infinite ease-in-out both;
	animation: loader 0.5s infinite ease-in-out both;
}
/*.try {
	height: 40px;
	width: 100%;
	background: yellow;
}*/
@-webkit-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@-moz-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@media screen and (max-width: 830px) {

	.og-expander h3 { font-size: 32px; }
	.og-expander p { font-size: 13px; }
	.og-expander a { font-size: 12px; }

}

@media screen and (max-width: 650px) {

	.og-fullimg { display: none; }
	.og-details { float: none; width: 100%; }
	
}
 /* THUMBNAIL IMAGES FOR EXPERIENCE SESSION */
 .thumba1, .thumba2, .thumba3 {
	 display: none;
 }
 .expert-grid {
	list-style: none;
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

.expert-grid li {
	display: inline-block;
	margin: 10px 5px 0 5px;
	vertical-align: top;
	height: 250px;
	background: green;
}

.expert-grid li > a,
.expert-grid li > a img {
	border: none;
	outline: none;
	display: block;
	position: relative;
}

.expert-grid li.expert-expanded > a::after {
	top: auto;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #ddd;
	border-width: 15px;
	left: 50%;
	margin: -20px 0 0 -15px;
}

.expert-expander {
	position: absolute;
	background: #ddd;
	top: auto;
	left: 0;
	width: 100%;
	margin-top: 10px;
	text-align: left;
	height: 0;
	overflow: hidden;
}

.expert-expander-inner {
	padding: 50px 30px;
	height: 100%;
}

.expert-close {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.expert-close::before,
.expert-close::after {
	content: '';
	position: absolute;
	width: 100%;
	top: 50%;
	height: 1px;
	background: #888;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.expert-close::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.expert-close:hover::before,
.expert-close:hover::after {
	background: #333;
}

.expert-fullimg,
.expert-details {
	width: 50%;
	float: left;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.expert-details {
	padding: 0 40px 0 20px;
}

.expert-fullimg {
	text-align: center;
}

.expert-fullimg img {
	display: inline-block;
	max-height: 100%;
	max-width: 100%;
}

.expert-details h3 {
	font-weight: 300;
	font-size: 52px;
	padding: 40px 0 10px;
	margin-bottom: 10px;
}

.expert-details p {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #999;
}

.expert-details a {
	font-weight: 700;
	font-size: 16px;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 10px 20px;
	border: 3px solid #333;
	display: inline-block;
	margin: 30px 0 0;
	outline: none;
}

.expert-details a::before {
	content: '\2192';
	display: inline-block;
	margin-right: 10px;
}

.expert-details a:hover {
	border-color: #999;
	color: #999;
}

.expert-loading {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ddd;
	box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	-webkit-animation: loader 0.5s infinite ease-in-out both;
	-moz-animation: loader 0.5s infinite ease-in-out both;
	animation: loader 0.5s infinite ease-in-out both;
}
/*
@-webkit-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@-moz-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@media screen and (max-width: 830px) {

	.og-expander h3 { font-size: 32px; }
	.og-expander p { font-size: 13px; }
	.og-expander a { font-size: 12px; }

}

@media screen and (max-width: 650px) {

	.og-fullimg { display: none; }
	.og-details { float: none; width: 100%; }
	
}
 */
/*FOOTER*/
footer h4 {
  color: #fff;
  font-weight: 300;
  text-align: left;
}
footer {
   margin-top: 50px;
/*background-color:background:  #A8CF38; /* Old browsers */
/*background: -moz-linear-gradient(right, #A8CF38 0%, #83CB76 33%, #5EC7B4 66% #39C3F2 100% ); /* FF3.6-15 */
/*background: -webkit-linear-gradient(right, #A8CF38 0%, #83CB76 33%, #5EC7B4 66%, #39C3F2 100%); /* Chrome10-25,Safari5.1-6 */
/*background: linear-gradient(to left, #A8CF38 0%, #83CB76 33%, #5EC7B4 66%, #39C3F2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=' #A8CF38 0%', endColorstr='#39C3F2',GradientType=0 ); /* IE6-9 */
  font-weight: 300;
  color: #fff;
  background-color: #2f2f2f;
 
}
footer h4 {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding-top: 20px;
  padding-bottom: 15px;
}


footer .photostream div {
  float: left;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 33%;
  padding: 7.5px;
  overflow: hidden;
}
footer .photostream div a {
  border: solid 1 px #eeeeee;
}
footer .photostream div img {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
footer .photostream div:hover img {
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
footer .blog-entries .item {
  clear: both;
  padding: 5px 0;
  margin-bottom: 10px;
  border-bottom: solid 1px #555555;
}
footer .blog-entries .item .image {
  float: left;
  width: 15%;
  margin-right: 10px;
}
footer .blog-entries .item .name {
  width: 75%;
  margin-left: 10px;
  display: table-cell;
  vertical-align: middle;
}

footer .social a {
  color: #555555;
  font-size: 25px;
  margin: 0 10px 0 0;
}
footer .social a:hover {
  color: #38a7bb;
}
.fa-phone, .fa-envelope, .fa-facebook-square, .fa-twitter-square, .fa-google-plus-square,.fa-fax {
	color: #fff;
}
.fa-facebook-square, .fa-twitter-square, .fa-google-plus-square:hover:before {
	color: #fff;
}